modules = ["nodejs-20", "php-8.2", "python-3.11", "web"]

[nix]
channel = "stable-24_05"
packages = ["python-launcher"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 32730474
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node script.js"
